<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tags.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tabs.css">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.ico">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/paginator.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K9Z6HSGW4P"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-K9Z6HSGW4P');
</script>
