<footer class="site-footer">
    <span class="site-footer-credits">
        &copy; Algorithmics 2023
    </span>

    <span class="site-footer-owner">
        <a href="{{ site.url }}">{{ site.title }}</a> is maintained by
        <a href="https://www.linkedin.com/in/avivasyuta/" target="_blank">Aleksei&nbsp;Ivasiuta</a> and
        <a href="https://www.linkedin.com/in/tifongod/" target="_blank">Denis&nbsp;Kolpakov</a>.
    </span>

    {% include actions.html className="mobile-actions" btnClassName="btn_dark" %}
</footer>
