{% if complexity == "easy" %}
    <span class="complexity complexity_easy">Легкая</span>
{% endif %}

{% if complexity == "medium" %}
    <span class="complexity complexity_medium">Средняя</span>
{% endif %}

{% if complexity == "hard" %}
    <span class="complexity complexity_hard">Сложная</span>
{% endif %}
