<section class="page-header">
	<div class="page-header_content">
		<a href="/" class="page-logo">
			<img src="/images/logo_small.jpg" alt="{{ metadata.title }}" class="logo">
			<h1 class="project-name">{{ metadata.title }}</h1>
		</a>

		{% include "_includes/components/actions.njk" %}
	</div>
</section>
