<footer class="site-footer">
	<div class="site-footer_content">
		<span class="site-footer-credits">
				&copy; {{ metadata.title }} 2023
		</span>

		<span class="site-footer-owner">
			{{ metadata.title }} is maintained by
			<a href="https://www.linkedin.com/in/avivasyuta/" target="_blank">Aleksei&nbsp;Ivasiuta</a> and
			<a href="https://www.linkedin.com/in/tifongod/" target="_blank">Denis&nbsp;Kolpakov</a>.
		</span>

		{% set btnClassName = "btn_dark" %}
		{% set actionsClassName = "mobile-actions" %}
		{% include "_includes/components/actions.njk" %}
	</div>
</footer>
