{% set content = postContent | striptags %}
{% set wordCount = content.split(' ').length %}
{% set minutes = (wordCount / 100) | round(0, 'ceil') %}
{% if minutes == 0 %}
	{% set minutes = 1 %}
{% endif %}

<div class="post-time">
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
		<path fill="currentColor"
					d="M12 20c4.4 0 8-3.6 8-8s-3.6-8-8-8s-8 3.6-8 8s3.6 8 8 8m0-18c5.5 0 10 4.5 10 10s-4.5 10-10 10S2 17.5 2 12S6.5 2 12 2m.5 5v5.2L9.8 17l-1.3-.8l2.5-4.4V7h1.5Z"/>
	</svg>
	<span>{{ minutes }} min</span>
</div>
