<!DOCTYPE html>
<html lang="{{ site.locale }}">

{% include head.html %}

<body>
{% include page-header.html %}

<div class="page-header-wrapper">
    <section class="main-content">
        {{ content }}
    </section>

    {% include page-footer.html %}
</div>

<script src="{{ site.baseurl }}/assets/js/tabs.js" type="application/javascript"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>
