<!doctype html>
<html lang="{{ metadata.language }}">
<head>
	<title>{{ metadata.title }}</title>

	{% include "_includes/components/main-meta-tags.njk" %}

	<link rel="icon" type="image/x-icon" href="/favicon.ico">

	{%- css %}{% include "public/css/normalize.css" %}{% endcss %}
	{%- css %}{% include "public/css/theme.css" %}{% endcss %}
	{%- css %}{% include "public/css/tags.css" %}{% endcss %}
	{%- css %}{% include "public/css/paginator.css" %}{% endcss %}

	<style>{% getBundle "css" %}</style>

	{% include "_includes/components/tag-manager.njk" %}
</head>
<body>

{% include "_includes/components/page-header.njk" %}

<section class="main-content">
	{{ content | safe }}
</section>

{% include "_includes/components/page-footer.njk" %}

</body>
</html>
